.feature-section {
  text-align: center;
  padding: 80px 0;
}

.feature-heading {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  color: #142a31;
  margin-bottom: 20px;
}

.feature-description {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #142a31;
  margin-bottom: 40px;
}

.feature-items {
  display: flex;
  justify-content: center;
  gap: 200px; /* Увеличенное расстояние между элементами */
}

.feature-item {
  position: relative;
  max-width: 300px;
  text-align: center;
}

.image-container {
  position: relative;
  display: inline-block;
  width: 320px;
  height: 388px;
}

.image-container img {
  max-width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
}

.rectangle {
  position: absolute;
  width: 320px;
  height: 388px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #F9FAFB;
  border-radius: 13px;
  z-index: 0;
}

.feature-item-title {
  font-family: 'Roboto', sans-serif;
  font-size: 21px; /* Изменен размер шрифта */
  color: #142A31; /* Цвет текста */
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
  z-index: 2;
}

.feature-item-description {
  font-family: 'Poppins', sans-serif;
  font-size: 15px; /* Изменен размер шрифта */
  color: #142A31; /* Цвет текста */
  margin-bottom: 10px; /* Добавлено для отступа */
  position: relative;
  z-index: 2;
}

@media screen and (min-width: 896px) {
  .feature-items {
    display: flex;
    justify-content: center;
    gap: 200px; /* Увеличенное расстояние между элементами */
  }

  .feature-item {
    max-width: 300px;
    text-align: center;
  }

  .image-container {
    position: relative;
    display: inline-block;
    width: 320px;
    height: 388px;
  }

  .image-container img {
    max-width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
  }

  .rectangle {
    position: absolute;
    width: 320px;
    height: 388px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #F9FAFB;
    border-radius: 13px;
    z-index: 0;
  }
}

@media screen and (max-width: 895px) {
  .feature-items {
    flex-direction: column;
    gap: 40px; /* Уменьшенное расстояние между элементами */
  }

  .feature-item {
    max-width: 100%; /* Ширина контейнера с изображением и текстом на всю ширину */
  }

  .image-container {
    width: 100%; /* Ширина изображения на всю ширину контейнера */
    height: auto; /* Автоматическая высота изображения */
  }

  .image-container img {
    position: static; /* Удаление вертикального выравнивания для изображения */
    transform: none; /* Удаление вертикального выравнивания для изображения */
  }

  .rectangle {
    width: 100%; /* Ширина прямоугольника на всю ширину контейнера */
    height: auto; /* Автоматическая высота прямоугольника */
    position: static; /* Удаление вертикального выравнивания для прямоугольника */
    transform: none; /* Удаление вертикального выравнивания для прямоугольника */
  }
}
@media screen and (min-width: 896px) and (max-width: 1318px) {
  .feature-items {
    gap: 50px; /* Уменьшаем расстояние между блоками */
  }

  .feature-item {
    max-width: 250px; /* Уменьшаем ширину блоков */
  }

  .image-container {
    width: 250px; /* Уменьшаем ширину контейнера с изображением */
    height: 300px; /* Уменьшаем высоту контейнера с изображением */
  }

  .rectangle {
    width: 250px; /* Уменьшаем ширину прямоугольника */
    height: 300px; /* Уменьшаем высоту прямоугольника */
  }
}