.logo {
    display: inline-block;
    width: 160px !important; 
<<<<<<< HEAD
    height: 89px !important; 
=======
    width: 89px !important; 
>>>>>>> dev
    flex-shrink: 0;
  }
  
  .logo img {
    width: 160px !important; 
    height: 89px !important; 
  }
<<<<<<< HEAD
=======

  
>>>>>>> dev
